body {
    font-family: 'IBM Plex Serif', serif;;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Farro', sans-serif; }

.btn {
    font-family: 'Farro', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black !important;
    border: none;
    /* padding: 5px 30px 5px 30px; */
    background-color: #EADC64;
    box-shadow: none!important;
}

.btn:hover {
    background-color: #DCCE5B!important;
}

.btn:focus {
    background-color: #D6C856!important;
    
}

.btn:active {
    background-color: #D6C856!important;
}

p {
    font-size: 16px;
    line-height: 1.4;
}



/* body {
    background-color: black;
} */

.onboard-card {
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10vh;
}

.btn-row {
    max-width: 400px;
    width: 100%;
    margin: 30px auto 0 auto;
    padding: 0;
}

.one-btn {
    justify-content: flex-end;
}


/* Page Two */

#search-bar {
    background-color: #EAEEF1;
}

#recipe-card {
    min-width: 220px;
    flex-basis: 15%;
    margin: 15px;
}

#recipe-pic {
    background-image: url("../images/chinese-400.jpg");
    background-size: cover;
    background-color: #F18814;
 
}

#drink-pairing-img {
    background-image: url("../images/wine-400.jpg");
    background-size: cover;
    background-color: #F18814;
    height: 200px;
}

#main-movie-img {
    background-image: url("../images/movie-400.jpg");
    background-size: cover;
    background-color: #F18814;
    height: 200px;
}

#recipe-bg-image{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("../images/chinese-400.jpg");
    /* background-image: url("../images/chinese-400.jpg"); */
    background-size: cover;
    background-color: #F18814;
    height: 300px;
    position: relative;
}

#recipe-title {
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin-left: 30px;
}